.MockView {
  color: white;
}
.StubContainer {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
}
.Control * {
  background-color: white;
  font: inherit;
  border: 1px solid green;
  padding: 8px;
  margin: auto 10px;
}
.StubItemList {
  border: 2px solid #09d3ac;
  color: white;
  flex-basis: 30%;
  margin: 20px 20px;
}
